**/nbproject/
/demetra-toolkit/demetra-design/target/
/demetra-toolkit/demetra-data-tests/target/
/demetra-toolkit/demetra-toolkit-api/target/
/demetra-toolkit/demetra-toolkit-core/demetra-toolkit-basic/target/
/demetra-toolkit/demetra-toolkit-core/demetra-toolkit-modelling/target/
/demetra-toolkit/demetra-toolkit-core/demetra-toolkit-ssf/target/
/demetra-toolkit/demetra-toolkit-core/demetra-toolkit-regarima/target/
/demetra-toolkit/demetra-toolkit-core/demetra-toolkit-sa/target/
/demetra-tramoseats/demetra-tramoseats-api/target/
/demetra-tramoseats/demetra-tramo-core/target/
/demetra-tramoseats/demetra-tramoseats-core/target/
/demetra-x13/demetra-x13-api/target/
/demetra-x13/demetra-x13-regarima-core/target/
/demetra-x13/demetra-x13-core/target/
/demetra-dfm/demetra-dfm-api/target/
/demetra-dfm/demetra-dfm-core/target/
/demetra-benchmarking/demetra-benchmarking-api/target/
/demetra-benchmarking/demetra-benchmarking-core/target/
/demetra-sa/demetra-sa-api/target/
/demetra-sa/demetra-sa-core/target/
/demetra-sts/demetra-sts-api/target/
/demetra-sts/demetra-sts-core/target/
/demetra-stl/demetra-stl-api/target/
/demetra-stl/demetra-stl-core/target/
/demetra-highfreq/demetra-highfreq-api/target/
/demetra-highfreq/demetra-highfreq-core/target/
/demetra-toolkit-ext/demetra-calendar-ext/target/
/demetra-bridge/target/
demetra-io-core/target/
/demetra-io-spreadsheet-core/target/
/demetra-io-sql-core/target/
/demetra-io-text-core/target/
/demetra-io-legacy-core/target/
/jdr/target/
